@font-face {
    font-family: myRoboto;
    src: url(./fonts/Roboto/Roboto-Medium.ttf);
}

* {
    padding: 0;
    margin: 0;
}

#wrapper {
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr 4.5fr;
    height: 100vh;
}

.nav,
.util {
    display: flex;
    flex-direction: column;
}

ul li {
    list-style-type: none;
    
    color: white;
    font-size: 1.4rem;
    font-family: myRoboto;
}

li {
    margin-top: 12px;
    margin-bottom: 12px;
}

li a {
    text-decoration: none;
    justify-self: center;
    display: flex;
    align-items: center;
    gap: 24px;

    color: white;
}

.sidebar {
    grid-area: 1 / 1 / 3 / 2;
    background-color: rgb(64, 147, 255);

    padding: 25px;
    display: grid;
    align-content: flex-start;
    grid-gap: 50px;
}

.logo a {
    text-decoration: none;
    color: white;
    font-family: myRoboto;
    font-size: 2rem;

    display: flex;
    align-items: center;
    gap: 12px;
}

.logo a img {
    margin: -5px;
}

.header {
    grid-area: 1 / 2 / 2 / 3;

    display: grid;
    grid-template-columns: 1.75fr 1fr;
    grid-template-rows: 1fr 1.25fr;
}

.header-1 {
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    align-content: center;
    justify-content: center;

    padding: 0px 25px 0px 25px;
}

.header-1 label {
    justify-self: center;
}

.header-1 input {
    background: rgb(226, 232, 240);
    border: none;
    border-radius: 15px;
    width: 85%;

    padding-left: 20px;

    grid-area: 1 / 2 / 2 / 10
}

.header-2 {
    display: grid;
    grid-template-columns: 1fr 5fr;

    align-items: center;
    justify-items: end;
}

.user {
    display: flex;
    align-items: center;

    padding-right: 30px;

    justify-self: center;
}

.user .pfp {
    height: 50px;
    width: 50px;
    border-radius: 100%;

    background: rgb(226, 232, 240);
}

.user .username {
    padding-left: 35px;

    font-family: myRoboto;

    text-decoration: none;
    color: black;
    font-size: 1.25rem;
}

.main-container {
    grid-area: 2 / 2 / 3 / 3;
    background-color: rgb(226, 232, 240);
}
